<p>
  <strong>Zip Code:</strong>
  <%= @zip_code.zip_code %>
</p>
 
<p>
  <strong>Latitude:</strong>
  <%= @zip_code.lat %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @zip_code.lon %>
</p>

<%= link_to 'Back', zip_codes_path %>
