/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/* line 8, /home/george/667-workspace/warm-peak-7080/app/assets/stylesheets/welcome.css.scss */
body {
  min-width: 301px;
  font-size: 12px;
}

/* line 13, /home/george/667-workspace/warm-peak-7080/app/assets/stylesheets/welcome.css.scss */
table a, .table a {
  text-decoration: none;
}

/* line 17, /home/george/667-workspace/warm-peak-7080/app/assets/stylesheets/welcome.css.scss */
.navbar {
  border-width: 0px 1px 1px 1px;
  border-radius: 0px;
}

/* line 22, /home/george/667-workspace/warm-peak-7080/app/assets/stylesheets/welcome.css.scss */
.navbar-brand {
  margin-right: 10px;
}

/* line 26, /home/george/667-workspace/warm-peak-7080/app/assets/stylesheets/welcome.css.scss */
.btn {
  border: none;
  font-weight: normal;
}

/* line 31, /home/george/667-workspace/warm-peak-7080/app/assets/stylesheets/welcome.css.scss */
.btn-default {
  border-radius: 1px;
  background-color: #f8f8f8;
  padding: 10px 15px 10px 15px;
}

/* line 37, /home/george/667-workspace/warm-peak-7080/app/assets/stylesheets/welcome.css.scss */
#infowindow_table th, #infowindow_table td {
  padding: 0px 10px 0px 0px;
}

/* line 41, /home/george/667-workspace/warm-peak-7080/app/assets/stylesheets/welcome.css.scss */
#header {
  padding: 0px 0px 15px 35px;
  margin: 5px 0px 0px 0px;
  padding-bottom: 15px;
  background-color: #2c5a71;
  box-shadow: 0 2px 16px -3px #404F4F;
  -moz-box-shadow: 0 2px 16px -3px #000000;
  -webkit-box-shadow: 0 2px 16px -3px #000000;
  border-radius: 5px;
  border: 1px solid black;
}

/* line 54, /home/george/667-workspace/warm-peak-7080/app/assets/stylesheets/welcome.css.scss */
#logo, #logo a {
  padding: 0px, 0px, 0px, 15px;
  color: #FFFFFF;
  font-family: 'Ubuntu';
  font-size: 1.6em;
  text-decoration: none;
  text-shadow: .15em .15em 0 #000000,.1em .1em 0 #000000;
  -webkit-text-shadow: .15em .15em 0 #000000, .1em .1em 0 #000000;
}

/* line 64, /home/george/667-workspace/warm-peak-7080/app/assets/stylesheets/welcome.css.scss */
#main_container {
  box-shadow: 0 2px 16px -3px #404F4F;
  -moz-box-shadow: 0 2px 16px -3px #000000;
  -webkit-box-shadow: 0 2px 16px -3px #000000;
}

/* line 70, /home/george/667-workspace/warm-peak-7080/app/assets/stylesheets/welcome.css.scss */
#content {
  padding: 15px;
}

/* line 74, /home/george/667-workspace/warm-peak-7080/app/assets/stylesheets/welcome.css.scss */
#content li {
  list-style-type: none;
}

/* line 78, /home/george/667-workspace/warm-peak-7080/app/assets/stylesheets/welcome.css.scss */
#map_sidebar {
  min-width: 100%;
}

/* line 82, /home/george/667-workspace/warm-peak-7080/app/assets/stylesheets/welcome.css.scss */
#map_sidebar td {
  min-width: 70%;
  max-width: 70%;
}

/* line 87, /home/george/667-workspace/warm-peak-7080/app/assets/stylesheets/welcome.css.scss */
#map {
  min-height: 100px;
  padding-bottom: 66%;
}

/* line 92, /home/george/667-workspace/warm-peak-7080/app/assets/stylesheets/welcome.css.scss */
#map_container {
  padding: 15px;
}

/* line 96, /home/george/667-workspace/warm-peak-7080/app/assets/stylesheets/welcome.css.scss */
#menu {
  margin: 0px 0px 10px 0px;
  background-color: #eeeeee;
  border: 1px solid #e2e2e2;
}

/* line 102, /home/george/667-workspace/warm-peak-7080/app/assets/stylesheets/welcome.css.scss */
#menu ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
}

/* line 108, /home/george/667-workspace/warm-peak-7080/app/assets/stylesheets/welcome.css.scss */
#menu ul li {
  padding: 10px;
  list-style-type: none;
  display: inline;
}

/* line 114, /home/george/667-workspace/warm-peak-7080/app/assets/stylesheets/welcome.css.scss */
#menu a {
  color: #333333;
}

/* line 118, /home/george/667-workspace/warm-peak-7080/app/assets/stylesheets/welcome.css.scss */
#menu li:hover {
  color: #FFFFFF;
  background-color: #222222;
  text-decoration: none;
}

/* line 124, /home/george/667-workspace/warm-peak-7080/app/assets/stylesheets/welcome.css.scss */
#search_form {
  margin: 0px 0px 0px 0px;
  padding-left: 0px;
}
