<h1>Hello, Term Project!</h1>

<%= link_to "Gas Station List<br />".html_safe, controller: "stations" %>
<%= link_to "Fuel Type List<br />".html_safe, controller: "fuel_types" %>
<%= link_to "Station Fuel Type Map<br />".html_safe, controller: "station_fuel_types" %>
