// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bg_color: #2c5a71;
$container_padding: 15px;

body {
	min-width: 301px;
  font-size: 12px;
}

#header {
	padding: 0px 0px 15px 35px;
	margin: 5px 0px 0px 0px;
  padding-bottom: 15px;
  background-color: $bg_color;

  box-shadow: 0 2px 16px -3px #404F4F;
  -moz-box-shadow: 0 2px 16px -3px #000000;
  -webkit-box-shadow: 0 2px 16px -3px #000000; 
  border-radius:5px;
  border: 1px solid black;
}

#logo, #logo a {
	padding: 0px, 0px, 0px, 15px;
	color: #FFFFFF;
	font-family: 'Ubuntu';
	font-size: 1.6em;
	text-decoration:none;
	text-shadow: .15em .15em 0 #000000,.1em .1em 0 #000000;
	-webkit-text-shadow: .15em .15em 0 #000000, .1em .1em 0 #000000;
}

#main_container {
	box-shadow: 0 2px 16px -3px #404F4F;
  -moz-box-shadow: 0 2px 16px -3px #000000;
  -webkit-box-shadow: 0 2px 16px -3px #000000; 
}

#content {
	padding: $container_padding;
}

#content li {
	list-style-type: none;
}

#map {
	min-height: 100px;
	padding-bottom: 66%;
}

#map_sidebar {
  min-width: 100%;
}
#map_sidebar td {
  min-width: 70%;
  max-width: 70%;
}

#map_container {
	padding: $container_padding;
}

#menu {
	margin: 0px 0px 10px 0px;
	background-color: #eeeeee;
	border: 1px solid #e2e2e2;
}

#menu ul {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 10px;
}

#menu ul li {
	padding: 10px;
	list-style-type: none;
	display: inline;
}

#menu a {
	color: #333333;
}

#menu li:hover {
	color: #FFFFFF;
	background-color: #222222;
	text-decoration: none;
}

#search_form {
	margin: 0px 0px 0px 0px;
	padding-left: 0px;
}